{{> head }}
{{> navbar }}

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1>About</h1>
        </div>
        <div class="col">
            <img src="assets/images/img-demo.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}